/* src/pages/Dashboard.css */

.dashboard-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    flex-wrap: wrap;
    width: 100%;
    margin: 20px;
  }
  
  .chart-container {
    width: 70%;
    height: 400px;
  }
  
  .chart-title {
    font-size: 0.75rem;
  }

  @media (max-width: 768px) {
    .chart-container {
      width: 300px;
    }
  }